
<!-- <ul>
    <app-fils>
        <span nomContent>John Wick</span>
       <a href='#'>link</a>
    </app-fils>
    <app-fils>
        <span nomContent>Jack Shephard</span>
        <a href='#'>link</a>
    </app-fils>
    <app-fils> 
        <span nomContent>James Ford</span>
        <a href='#'>link</a>
    </app-fils>
</ul> -->
<ul>
    <app-fils [ordre]="tab[0]" [villeDeNaissance]="sud"></app-fils>
    <app-fils [ordre]="tab[1]" [villeDeNaissance]="nord"></app-fils>
    <app-fils  [ordre]="tab[2]" [villeDeNaissance]="capitale"></app-fils>
</ul>
