

<ul>
    <li>les personnes {{personne | json}}</li>
</ul>
<form #monForm=ngForm (ngSubmit)=modifierPersonne()>
    <!-- <div>
        Identifiant : <input type=text name=id [(ngModel)]=personne.num required #id=ngModel>
        <span [hidden]="id.valid || id.pristine">
            L'identifiant' est obligatoire
        </span>
    </div> -->
    <div>
        Nom : <input type=text name=nom [(ngModel)]=personne.nom required #nom=ngModel>
        <span [hidden]="nom.valid || nom.pristine">
            Le nom est obligatoire
        </span>
    </div>

    <div>
        Prénom : <input type=text name=prenom [(ngModel)]=personne.prenom required #prenom=ngModel>
        <span [hidden]="prenom.valid || prenom.pristine">
            Le prénom est obligatoire
        </span>
    </div>
    <div>
        <button [disabled]="!monForm.valid">
            Ajouter
        </button>
    </div>
</form>
<ul>
   <li>{{personne.nom}}</li>
   <li>{{personne.prenom}}</li>
</ul>

<p class="mb-5">edit-personne works!</p>
