form {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: center;
}

h2, h3 {
    text-align: center;
}

input {
    width: 40rem;
    height: 2rem;
    margin: 10px 20px;
    font-size: 1rem;
}

input:focus {
    border: 2px solid #6300a0
}

label {
    text-align: left;
    display: inline-block;
    width: 100px;
    padding: 2px 0px;
}

.motcles {
    margin: 4rem 0;
}

.auteur {
    margin-bottom: 4rem 0;
}

button {
    font-size: 17px;
    font-weight: bold;
    height: 2rem;
    margin: 10px 0px;
    border-radius: 0.6rem;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
}

button:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

li {
    margin: 8px 0;
}

ul {
    list-style-type: none;
    text-align: justify;
    text-align: center;
}
.livre{
    margin: 25px 0px 15px 0px; 
    font-weight: bold;
    font-size: 20px;
}